<h1 class="text-center">New Gif</h1>

<div id="gif-errors">

</div>
<div class="container">
  <div class="col-lg-6 col-md-7 col-sm-9">
    <%= bootstrap_form_for(@gif, remote:true, html: {id: "new-gif-form"}) do |f| %>
      <%= f.text_field :title %>
      <%= f.attachment_field :gif_image %>
      <%= f.text_field :url %>
      <%= f.text_field :tag_names %>
      <%= f.submit "Submit", class:"btn-primary" %>
    <% end %>
  </div>
</div>
