<div id="popout-errors<%=gif.id%>" class="row">

</div>
<div class="row">
  <% if !gif.url.empty? %>
    <%= image_tag(gif.url, class:"img-responsive center-block") %>
  <% else %>
    <%= image_tag attachment_url(gif, :gif_image), class:"img-responsive center-block" %>
  <% end %>
</div>
<div class="row">
  <p class="text-center url col-xs-offset-1 col-xs-10"><%= link_to gif.url, gif.url %></p>
</div>
<div class="row">
  <p class="text-center"><%= link_to gif.user.login, specify_path(id:gif.user.id, gif_id:gif.id), remote:true %></p>
</div>
<div class="row">
  <p class="text-center">
    <% gif.tags.each do |tag| %>
      <%= link_to tag.name, specify_tag_path(id:tag.id, gif_id:gif.id), remote:true %>
    <% end %>
  </p>
</div>
<div class="row logged-in-voting <%= "hidden" if !current_user_session %>">
  <div class="col-xs-4">
    <%= link_to '+1', vote_for_path(gif_id:gif.id, downvote:false), remote:true, class:"btn btn-primary center-block" %>
  </div>
  <div class="col-xs-4 col-xs-offset-4">
    <%= link_to '-1', vote_for_path(gif_id:gif.id, downvote:true), remote:true, class:"btn btn-danger center-block" %>
  </div>
</div>
<div class="row logged-out-voting">
  <div class="col-xs-4 col-xs-offset-4">
    <p class="text-center" id="score<%=gif.id%>"> Score: <%= gif.score %> </p>
  </div>
</div>
