<div id="new-user-form">
  <h1 class="text-center">New User</h1>

  <div id="new-user-errors">

  </div>
  <%= form_for @user, remote:true, html: {id: "new-user-form", class: "form-horizontal"} do |f| %>
    <div class="form-group">
      <%= f.label :login, class: "col-xs-offset-2 col-xs-2 control-label" %>
      <div class="col-xs-5">
        <%= f.text_field :login, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :email, class: "col-xs-offset-2 col-xs-2 control-label" %>
      <div class="col-xs-5">
        <%= f.email_field :email, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password, class: "col-xs-offset-2 col-xs-2 control-label" %>
      <div class="col-xs-5">
        <%= f.password_field :password, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, class: "col-xs-offset-2 col-xs-2 control-label" %>
      <div class="col-xs-5">
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <%= f.submit "Submit", class: "center-block" %>
    </div>
  <% end %>
</div>
