<!DOCTYPE html>
<html>
<head>
  <title>Gifify</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <div class="col-xs-12 header">
      <%= link_to "login", login_path, remote:true %>
    </div>

<%= yield %>
  </div>
</body>
</html>
