<!DOCTYPE html>
<html>
<head>
  <title>Gifify</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <div class="col-xs-12" id="header">
      <div class="col-xs-12 col-md-3"id="header-buttons">
        <% if !current_user_session %>
          <%= link_to "login", login_path, class:"btn btn-primary", id:"login-button", "data-toggle"=>"modal", "data-target"=>"#login" %>
          <%= link_to "New User", new_user_path, class:"btn btn-primary", id:"new-user-button", "data-toggle"=>"modal", "data-target"=>"#newUser" %>
        <% else %>
          <%= link_to "Logout", logout_path, class:"btn btn-primary", id:"logout-button", "data-remote" =>true %>
          <%= link_to "New Gif", new_gif_path, class:"btn btn-primary", id:"new-gif-button", "data-toggle"=>"modal", "data-target"=>"#newGif" %>
        <% end %>
      </div>
      <div class="col-xs-12 col-md-6">
        <h1 class="text-center" id="title">Welcome<h1>
      </div>
    </div>

<%= yield %>
  </div>

  <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <%= render :partial => "user_sessions/new" %>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="newUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <%= render :partial => "users/new" %>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="newGif" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <%= render :partial => "gifs/new" %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
